<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>

<body>
    <div class="navegador" >
        <ul>
            <li class="lista ">
                <a routerLink="/home/citas" >
                    <span class="icono">
                        <ion-icon name="attach-outline"></ion-icon>
                    </span>
                    <span class="texto">Citas</span>
                </a>
            </li>
           
            <li class="lista ">
                <a routerLink="/home/perfil">
                    <span class="icono">
                        <ion-icon name="people-outline"></ion-icon>
                    </span>
                    <span class="texto">Perfil</span>
                </a>
            </li>
            <li class="lista active">
                <a routerLink="/home/info-home">
                    <span class="icono">
                        <ion-icon name="home-outline"></ion-icon>
                    </span>
                    <span class="texto">Inicio</span>
                </a>
            </li>
           
            <li class="lista ">
                <a routerLink="/home/anuario">
                    <span class="icono">
                        <ion-icon name="calendar-outline"></ion-icon>
                    </span>
                    <span class="texto">Anuario</span>
                </a>
            </li>
            <li class="lista ">
                <a routerLink="/" >
                    <span class="icono">
                        <ion-icon name="log-out-outline"></ion-icon>
                    </span>
                    <span class="texto">Salir</span>
                </a>
            </li>
            
            <div class="indicador"></div>
        </ul>
        
    </div>

</body>

</html>